@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
@font-face {
    font-family: John;
    src: url(fonts/Big-John.otf);
}

@font-face {
    font-family: Joe;
    src: url(fonts/Slim-Joe.otf);
}

@keyframes arrowFlash {
    0% {
        border-top: 30px solid #dcdcdc;
    }
    30% {
        border-top: 30px solid #999;
    }
    60% {
        border-top: 30px solid #dcdcdc;
    }
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: black;
    line-height: 1.6;
}

a {
    color: #2980b9;
    text-decoration: none;
    transition: color .3s;
}

a:hover {
    color: #3498db;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #dcdcdc;
    margin: 0 auto;
    margin-top: 150px;
    animation: arrowFlash 3s infinite;
    -webkit-animation: arrowFlash 3s ease-in-out 3s infinite;
}

#title {
    background: -webkit-linear-gradient(transparent, transparent), url(imgs/mountain1.jpg) repeat;
    padding: 200px 20px;
    padding-bottom: 300px;
}

h1 {
    line-height: 1.2;
    font-size: 250px;
    font-family: John;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-size: 60px;
    font-family: Joe;
    margin-top: -70px;
}

.page {
    min-height: 90vh;
    box-sizing: border-box;
}

#abt-page {
    padding: 0 120px;
    font-family: Source Sans Pro;
    font-size: 30px;
    line-height: 1.6;
    box-sizing: default;
}

#abt-page p {
    text-align: justify;
}

#abt-page img {
    margin-top: 40px;
    max-width: 150px;
}

.skill h1 {
    font-size: 125px;
}

#skill-page {
    padding-bottom: 300px;
    padding-top: 0;
}

#proj-page h2 {
    margin-bottom: 75px;
}

#proj-page h1 {
    font-size: 125px;
}

#proj-page h1 a {
    color: black;
    transition: text-shadow .3s ease-in-out;
    -moz-transition: text-shadow .3s ease-in-out;
    -webkit-transition: text-shadow .3s ease-in-out;
    -ms-transition: text-shadow .3s ease-in-out;
}

#s1 {
    background: -webkit-linear-gradient(transparent, transparent), url(imgs/space-min.jpg) repeat;
}

#s2 {
    background: -webkit-linear-gradient(transparent, transparent), url(imgs/mountain2-min.jpg) repeat;
}

#s3 {
    background: -webkit-linear-gradient(transparent, transparent), url(imgs/aurora-min.jpg) repeat;
}

#s4 {
    background: -webkit-linear-gradient(transparent, transparent), url(imgs/reef-min.jpg) repeat;
}

#s5 {
    background: -webkit-linear-gradient(transparent, transparent), url(imgs/underwater-min.jpg) repeat;
}

.shadow-active {
    text-shadow: 7px 7px 0 #3498db;
}

#title,
#s1,
#s2,
#s3,
#s4,
#s5 {
    color: black;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 1100px) {
    #title {
        padding-top: 300px;
        padding-bottom: 300px;
    }
    #title h1,
    h1 a {
        font-size: 100px;
    }
    #title h2 {
        font-size: 40px;
        margin-top: 0;
    }
    #abt-page {
        padding: 0 60px;
        line-height: 1.6;
        margin-bottom: 200px;
    }
    #abt-page p {
        margin-bottom: 50px;
    }
    #skill-page h1 {
        font-size: 100px;
    }
    #abt-page h2,
    #skill-page h2,
    #proj-page h2 {
        font-size: 45px;
    }
    #abt-page p {
        font-size: 25px;
    }
    #abt-page img {
        margin-top: 0;
    }
    #proj-page {
        line-height: 0.6;
    }
    #proj-page a {
        font-size: 75px;
    }
    #proj-page h1 {
        font-size: 90px;
    }
    #proj-page {
        height: 50vh;
    }
}

@media screen and (max-width: 500px) {
    #title h1,
    h1 a {
        font-size: 50px;
    }
    #title {
        padding-top: 200px;
        padding-bottom: 250px;
    }
    .arrow {
        display: none;
    }
    #title h2,
    #abt-page h2,
    #skill-page h2,
    #proj-page h2 {
        font-size: 25px;
    }
    #abt-page {
        padding: 0 15px;
        margin-bottom: 200px;
    }
    #abt-page img {
        max-width: 100px;
    }
    #abt-page p {
        font-size: 17px;
        line-height: 1.4;
        margin-bottom: 25px;
    }
    #skill-page h1 {
        font-size: 40px;
    }
    #proj-page h1 a {
        font-size: 35px;
    }
    #proj-page h1 {
        font-size: 50px;
    }
    .shadow-active {
        text-shadow: 3px 3px 0 #3498db;
    }
}

@media